/*#region Шрифт Roboto*/
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Black.ttf');
    font-weight: 900;
}
/*#endregion Шрифт Roboto*/
/*#region Шрифт Poppins*/
@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}
/*#endregion Шрифт Poppins*/
.body-authorization
{
    background-color: #304FFD;
}
.body-authorization-secondary
{
    background-color: #E9F3F5;
}
.wrapper
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
a
{
    text-decoration: none;
    color: #304FFD;
}
a:active
{
    color: #304FFD;
}
h4
{
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    color: #3F434A;
}
label, span
{
    font-family: Roboto;
    font-weight: 300;
}
.img-illustration
{
    height: 40%;
    width: 40%;
}
.img-lock
{
    height: 220px;
    width:  220px;
}
.big-form-container
{
    background-color: white;
    width: 600px;
    height: auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 27px;
}
/* Комментарий для работы там, где я его увижу: либо большая бубыдла 85%, но это не выход, тогда едет везде; либо авто, но не работает див-филлер. Обсудить с Максом */
.big-form-container footer
{
    text-align: center;
    font-size: 14px;
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    width: 400px;
    margin: 30px 0 0 0;
}
.field input
{
    border-radius: 14px;
    border-color: #E8E9EB;
    border-style: solid;
    height: 40px;
    background-color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: #3F434A;
    padding-left: 16px;
}
.form-help-container
{
    margin: 25px 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
/*#region Кнопка Submit*/
input[type=submit]
{
    width: 70%;
    border-radius: 14px;
    height: 40px;
    background-color: #304FFD;
    border-color: #304FFD;
    border-style: solid;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    transition: box-shadow 0.1s ease-in;
    margin: 0px 0px 35px 0px;
}
input[type=submit]:hover
{
    background-color: #2e64fd;
    border-color: #2e64fd;
}
input[type=submit]:active
{
    background-color: #1c3ffd;
}
/*#endregion Кнопка Submit*/

/*#region Кнопка Google*/
.button-google-login
{
    height: 40px;
    width: 400px;
    background-color: white;
    border-color: #E8E9EB;
    border-radius: 14px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.button-google-login:hover
{
    background-color: #ededed;
}
.button-google-login:active
{
    background-color: #e0e0e0;
}
.button-google-login span
{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
}
/*#endregion Кнопка Google*/

input[type=checkbox]
{
    accent-color: #304FFD;
}

.or-using-email-line
{
    width: 70%; 
    text-align: center;
    border-bottom: 1px solid #E8E9EB; 
    line-height: 0.1em;
    margin: 5% auto; 
}
.or-using-email-line span
{
    background-color: white;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    color: #8A9099;
}